[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
colorama = "*"
geopy = "*"
tabulate = "*"
pytz = "*"
pillow = "*"
tweepy = "*"
discord-webhook = "*"
selenium = "*"
webdriver-manager = "*"
shapely = "*"
pycairo = "*"
geog = "*"
py-staticmaps = "*"
pyproj = "*"
pandas = "*"
lxml = "*"
beautifulsoup4 = "*"
python-telegram-bot = "*"
configparser = "*"
"mastodon.py" = "*"
atproto = "*"

[requires]
python_version = "3.9"
